@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif ;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* navbar style  */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links{
  display: flex;
  justify-content: center;
  font-size: 1.75rem;
  
}
.nav-item{
  list-style: none;
  margin-right: 30px;
  
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
  
}
.brand{
  font-size: 3rem;
}
.text-dark2{
  color:rgba(66, 66, 66, 1) ;
}

/* banner style  */

.bg-color{
  background-color:rgba(255, 144, 14, 0.1) ;
}
.navbar, .banner {
      max-width: 1440px;
      margin: 0 auto;
}
.banner-content{
  max-width: 862px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.banner-title{
  font-weight: 700;
  font-size: 4rem;
}
.banner-discription{
  color: rgba(114, 114, 114, 1);
  font-size: 1rem;
}

/* shared style  */

.btn-primary{
  background-color: rgba(255, 144, 14, 1);
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
 border: none;
 border-radius: 8px;
  padding: 20px 24px;
}
.banner-img{
  width: 100%;
}

/* section team style  */

main{
  max-width: 1440px;
  margin: 0 auto;

}
main >section{
  margin-top: 130px;
}
.team{
  display: flex;
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.team-content{
  margin-left: 73px;
  max-width: 530px;
}
.team-title{
  font-size: 2.8rem;
  font-weight: 700;
}
#quick-list{
  color:rgba(114, 114, 114, 1) ;
  font-weight: 500;
}
#Features{
   color:rgba(255, 144, 14, 1) ;
}
.team-description{
  color:rgba(114, 114, 114, 1);
  margin-bottom: 20px;
  padding:  10px 0;
}
















@media screen and (max-width:576px) {
      .navbar, .nav-links, .team{
        flex-direction: column;
      }
      .team-img-container{
        grid-template-columns: repeat(1, 1fr);
      }
      .team-content{
        margin-left: 20px;
      }
}
 /* medium size device style  */ 

@media screen and (min-width:576px) and (max-width:992px){
  .team{
    flex-direction: column;
  }
  .team-content{
    margin-left: 50px auto;
  }
}

